<div class="max-w-4xl mx-auto p-8 space-y-8">
  <%= render FlatPack::PageTitle::Component.new(
    title: "Comments",
    subtitle: "Persisted demo comments with nested replies."
  ) %>

  <%= render "pages/component_method_variables_table", components: [:comments_thread, :comments_item, :comments_replies, :comments_composer, :comments_inline_input] %>

  <% if flash[:notice] %>
    <%= render FlatPack::Alert::Component.new(
      title: "Success",
      description: flash[:notice],
      variant: :success,
      dismissible: true
    ) %>
  <% end %>

  <% if flash[:alert] %>
    <%= render FlatPack::Alert::Component.new(
      title: "Error",
      description: flash[:alert],
      variant: :danger,
      dismissible: true
    ) %>
  <% end %>

  <% unless @comments_table_available %>
    <%= render FlatPack::Alert::Component.new(
      title: "Comments table is missing",
      description: "Run `cd test/dummy && bin/rails db:migrate` to enable persisted comments.",
      variant: :warning
    ) %>
  <% end %>

  <%= render FlatPack::SectionTitle::Component.new(
    title: "Interactive Thread",
    subtitle: "Post comments and replies backed by the dummy app database.",
    anchor_link: true
  ) %>

  <%= render FlatPack::Comments::Thread::Component.new(
    count: @comments_count,
    title: "Discussion"
  ) do |thread| %>
    <% if @comments_table_available %>
      <% thread.composer do %>
        <%= render "pages/demo_comment_form" %>
      <% end %>
    <% end %>

    <% @root_comments.each do |comment| %>
      <% thread.comment do %>
        <%= render "pages/demo_comment_item",
          comment: comment,
          depth: 1,
          comments_by_parent_id: @comments_by_parent_id,
          reply_target_id: @reply_target_id,
          allow_reply: @comments_table_available %>
      <% end %>
    <% end %>
  <% end %>

  <%= render FlatPack::SectionTitle::Component.new(
    title: "Interactive Thread Code",
    subtitle: "Component-based ERB used for this demo thread.",
    anchor_link: true
  ) %>

  <%= render FlatPack::CodeBlock::Component.new(
    title: "ERB",
    language: "erb",
    code: CGI.unescapeHTML(<<~'CODE')
      &lt;%= render FlatPack::Comments::Thread::Component.new(
        count: @comments_count,
        title: "Discussion"
      ) do |thread| %&gt;
        &lt;% if @comments_table_available %&gt;
          &lt;% thread.composer do %&gt;
            &lt;%= render "pages/demo_comment_form" %&gt;
          &lt;% end %&gt;
        &lt;% end %&gt;

        &lt;% @root_comments.each do |comment| %&gt;
          &lt;% thread.comment do %&gt;
            &lt;%= render "pages/demo_comment_item",
              comment: comment,
              depth: 1,
              comments_by_parent_id: @comments_by_parent_id,
              reply_target_id: @reply_target_id,
              allow_reply: @comments_table_available %&gt;
          &lt;% end %&gt;
        &lt;% end %&gt;
      &lt;% end %&gt;

      &lt;%# pages/_demo_reply_form.html.erb (reply composer) %&gt;
      &lt;%= form_with url: replies_demo_comment_path(parent_comment), method: :post, local: true do %&gt;
        &lt;%= render FlatPack::Comments::Composer::Component.new(
          name: "comment[body]",
          placeholder: "Write a reply...",
          submit_label: "Reply",
          compact: true,
          rows: 2
        ) do |composer| %&gt;
          &lt;% composer.actions do %&gt;
            &lt;div class="flex items-center justify-end w-full gap-2"&gt;
              &lt;%= render FlatPack::Button::Component.new(
                text: "Cancel",
                url: demo_comments_path(anchor: "comment-#{parent_comment.id}"),
                style: :ghost,
                size: :sm
              ) %&gt;
              &lt;%= render FlatPack::Button::Component.new(
                text: "Reply",
                type: "submit",
                style: :primary,
                size: :sm
              ) %&gt;
            &lt;/div&gt;
          &lt;% end %&gt;
        &lt;% end %&gt;
      &lt;% end %&gt;
    CODE
  ) %>
</div>
