<div class="max-w-4xl mx-auto p-8 space-y-8">
  <%= render FlatPack::PageTitle::Component.new(
    title: "Comments",
    subtitle: "Persisted demo comments with nested replies."
  ) %>

  <%= render "pages/component_method_variables_table", components: [:comments_thread, :comments_item, :comments_replies, :comments_composer] %>

  <% if flash[:notice] %>
    <%= render FlatPack::Alert::Component.new(
      title: "Success",
      description: flash[:notice],
      variant: :success,
      dismissible: true
    ) %>
  <% end %>

  <% if flash[:alert] %>
    <%= render FlatPack::Alert::Component.new(
      title: "Error",
      description: flash[:alert],
      variant: :danger,
      dismissible: true
    ) %>
  <% end %>

  <% unless @comments_table_available %>
    <%= render FlatPack::Alert::Component.new(
      title: "Comments table is missing",
      description: "Run `cd test/dummy && bin/rails db:migrate` to enable persisted comments.",
      variant: :warning
    ) %>
  <% end %>

  <%= render FlatPack::SectionTitle::Component.new(
    title: "Interactive Thread",
    subtitle: "Post comments and replies backed by the dummy app database.",
    anchor_link: true
  ) %>

  <%= render FlatPack::Comments::Thread::Component.new(
    count: @comments_count,
    title: "Discussion"
  ) do |thread| %>
    <% if @comments_table_available %>
      <% thread.with_composer do %>
        <%= render "pages/demo_comment_form" %>
      <% end %>
    <% end %>

    <% @root_comments.each do |comment| %>
      <% thread.with_comment do %>
        <%= render "pages/demo_comment_item",
          comment: comment,
          depth: 1,
          comments_by_parent_id: @comments_by_parent_id,
          reply_target_id: @reply_target_id,
          allow_reply: @comments_table_available %>
      <% end %>
    <% end %>
  <% end %>
</div>
